<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2009 - 2013</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Engineering</div>
            <h4 class="category">Yeshwantrao Chavan College of Engineering
            </h4>
            <ul>
              <li>Completed B.E in Computer Technology with <b>68%</b>.</li>
              <li>Completed training on IBM DB2 and Tivoli tools and received certificates as well.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2007 - 2009</p>
            <div class="h5">Higher Secondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Higher Secondary School</div>
            <h4 class="category">Modern School
            </h4>
            <ul>

              <li>
                CBSE Medium : PCM + Computer Science.
              </li>
              <li>
                Completed my high schooling with<b> 68%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2006 - 2007</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Modern School
            </h4>
            <ul>
              <li>CBSE Medium : Computer Science + Regular syllabus.
              </li>

              <li>
                Completed my Secondary schooling with <b>81.4%</b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
